html, body {
    margin: 0 auto;
  }
  
  .container{
    display: grid;
    width: 100vw;
    height: 100vh; /*VH SEMPRE aqui, para esticar a tela!!!*/
    grid-template-columns: 0.4fr 0.5fr 0.5fr;
    grid-template-rows: 0.2fr 1fr 0.6fr 0.1fr;
    grid-template-areas: 
    "nav nav nav"
    "sidebar main main"
    "sidebar content-2 content-1"
    "footer footer footer";
    gap: 5px;
  }
  
  #nav{
    /* background-color: red; */
    grid-area: nav;
    border: 5px solid black;
  }
  
  #main{
    /* background-color: blue; */
    grid-area: main;
    border: 5px solid black;
  }
  
  #sidebar{
    /*background-color: yellowgreen;*/
    grid-area: sidebar;
    border: 5px solid black;

  }
  
  #content-1{
    /* background-color: pink; */
    grid-area: content-1;
    border: 5px solid black;
  }
  
  #content-2{
    /* background-color: yellow; */
    grid-area: content-2;
    border: 5px solid black;
  }
  
  #footer{
    /* background-color: orange; */
    grid-area: footer;
    border: 5px solid black;
  }
  
  @media only screen and (max-width: 640px) {
    .container{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.3fr 1fr 0.5fr 0.5fr 0.2fr;
      grid-template-areas: 
      "nav nav"
      "main main"
      "sidebar sidebar"
      "content-1 content-2"
      "footer footer"
    }
  }
  
  
  